<div class="cnt-not-found">
    <div class="not-found-alert">
        <div class="alert-icon">
            <i class="fa-solid fa-triangle-exclamation icon"></i>
        </div>
    </div>
    <div class="not-found-communication">
        <div class="communication-info">
            <div class="info-title">404 - Página não encontrada</div>
            <div class="info-description">O endereço pode estar incorreto, não estar disponível ou o conteúdo pode ter sido removido</div>
        </div>
        <div class="communication-buttons">
            <button routerLink="/" class="action-1">Ação</button>
            <button routerLink="/" class="action-2">Ação</button>
        </div>
    </div>
</div>