<div class="header">
    <div class="header-left">
        <div class="left-title">Nova admissão cooperado</div>
        <div class="left-description">Cadastro / Admissão do Cooperado / Nova admissão do Cooperado</div>
    </div>
    <div class="header-right">
        <div class="right-notification">
            <i class="fa-regular fa-bell"></i>
        </div>
        <div class="right-name">Viacredi</div>
        <div class="right-profile-picture">
            <img class="picture" src="assets/photos/picture_photo.jpeg" alt="">
        </div>
    </div>
</div>